{
    "extends": "airbnb",
    "env": {
        "node": true,
        "browser": true
    },
    "rules": {
        "semi": "off",
        "import/extensions": "off",
        "react/prop-types" : "off"
    }
}